$color-titulo: #FFF;
$font: 'Raleway', sans-serif;
$color-rosado: #ED9A9D;
$color-beige: #F0E7AE;
$color-verde: #8EC641;
$height-regular: 90vh;
$height-big: 100vh;
$height-small: 45vh;
$height-xsmall:10vh;
